<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="VIVIRA Process Technologies Pvt Ltd is developing cutting edge effluent treatment systems" name="description">
    <meta content="vivira, effluent treatment, cavitation" name="keywords">
    <meta content="vivira.in" name="author">
    <meta content="VIVIRA Process Technologies Pvt. Ltd. 2015" name="copyright">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>VIVIRA Process Technologies Pvt. Ltd.</title>

    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Lato|Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css">

    <script src="/js/vendor/modernizr.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico">

</head>
<body>
    <!-- HEADER AREA -->
    <header class="full-width header-area">
    <div class="row">
        <div class="large-10 columns"></div>
        <div class="large-2 columns">
            <a href="/" title="VIVIRA logo" target="_self">
            <object type="image/svg+xml" data="/img/logo.svg" width="150" height="37.5">Your browser does not support SVG</object></a>
        </div>
    </div>
    </header>
    <div class="row">
